NODE_ENV=development
PORT=3001

MONGO_URI=mongodb://localhost:27017/goalden_auth

USER_JWT_SECRET=
USER_JWT_EXPIRES_IN=1h
REFRESH_TOKEN_EXPIRES_IN=7d

SERVICE_JWT_SECRET=

# Secrets par service consumer (serviceId:serviceSecret)
SERVICE_SECRETS=event-service:secret1,social-service:secret2,team-service:secret3,notification-service:secret4,file-service:secret5,gateway:secret6
